.svg-hero{
    display: flex;
    background-color: #15031e;
    position: fixed;
    top: 0;
    left: 0;
    color: aliceblue;
}
#svghero_canbut{
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}
.svghero_showdiv{
    width: 100vw;
    height: 100vh;
}
.svghero_title{
    margin-top: 4%;
    text-align: center;
}
.svghero_imgsec{
    display: flex;
}
.svghero_img{
    width: 60%;
    z-index: -1;
}
.svghero_text{
    width: 40%;
    margin: 10%;
}
.svghero_img svg{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .svghero_imgsec{
        display: flex;
        flex-direction: column;
    }
    .svghero_img{
        width: 100%;
        z-index: -1;
    }
    .svghero_text{
        width: 100%;
        padding: 10px;
    }

}