.svg-hero{
    display: flex;
    background-color: aqua;
    position: fixed;
    top: 0;
}
#img{
    width: 50%;
}
img{
    width: 100%;
}
#text{
    width: 50%;
}
#canbut{
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}